
.btn-primary {
  border-radius: 10px;
  margin: 10px;
  color: white;
  
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  margin: 10px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-warnging {
  background-color: #a9030379;
  border-radius: 10px;
  &:hover{
  background-color: #a90303;
  }
}
